
.cc_highlight {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.cc_box {
  position: absolute;
  width: 480px;
  max-height: 500px;
  background-color: #eee;
  z-index: 9999;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius:10px;
  box-shadow: 3px 3px 3px #888888;
}

.cc-wrap{
    width: 480px;
    height: 500px;
}

.cc-container {

}

.cc-tabbable{
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}


.cc-tab{
    width: 120px;
    float: left;
}

.cc-content{
    width: 360px;
}

.cc-logo{
    float: right;
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0px;
    list-style: none;
}


.tabs-left > .nav-tabs > li > a {
    text-decoration: none;
}

.tabs-left > .nav-tabs > li > a:active {
    color: #FFFFFF;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #FFFFFF;
    cursor: default;
}


.nav > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}


.tab-content {
    float: right;
    width: 360px;
}


.active {
    background-color: #0088cc;
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    border: 1px solid #cccccc;
    border-right: 0px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;

}