
.cc_highlight {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.cc_box {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #eee;
  z-index: 9999;

  padding: 30px;

  border: 2px solid #ccc;
  border-radius:25px;

}
